.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.errortext {
	color: #ff0000;
}

.tableHeader{
	background-color: gray;
}

table.example {
	border-collapse: collapse;
}

table.example td, table.example th {
	border: 1px solid black;
	padding: 5px;
}